name: Release the package on merge into main

# Only trigger when a pull request into main branch is closed.
on:
  pull_request:
    types: [closed]
    branches:
      - main
  push:

jobs:
  run-tests:
    if: "!contains(github.event.head_commit.message, 'skipci')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install requirements
        run: pip install -r functions/event_handler/requirements.txt

      - name: Run tests
        env:
          BIGQUERY_EVENTS_TABLE: my-table
        run: python -m unittest

#  release:
#    # This job will only run if the PR has been merged (and not closed without merging).
#    if: "github.event.pull_request.merged == true"
#    needs: run-tests
#    runs-on: ubuntu-latest
#    steps:
#    - name: Checkout code
#      uses: actions/checkout@v4
#
#    - name: Get repo version
#      run: echo "VERSION=$(python setup.py --version)" >> $GITHUB_ENV
#
#    - name: Create release
#      uses: actions/create-release@v1
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, no need to create your own.
#      with:
#        tag_name: ${{ env.VERSION }}
#        release_name: ${{ github.event.pull_request.title }}
#        body: ${{ github.event.pull_request.body }}
#        draft: false
#        prerelease: false

  upload-source:
#    if: "github.event.pull_request.merged == true"
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/899129607296/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider'
          service_account: github-actions@octue-twined-gcp.iam.gserviceaccount.com

      - name: Zip source code
        run: zip -r event_handler_function_source.zip functions/event_handler

      - name: Upload source zip file
        uses: google-github-actions/upload-cloud-storage@v2
        with:
          path: "event_handler_function_source.zip"
          destination: "twined-gcp/event_handler_function_source.zip"
